#title{
    text-align: center;
}
.subhead{
    text-align: center;
}
.p-centered{
    text-align: center; 
}

body{
    font-family: 'Julius Sans One', sans-serif;
}
a:visited { 
    color: rgb(158, 155, 199);
}

.plain-image {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.cust-btn {
    width: 160px;
}

